/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f5fa;
  --foreground: #0B0909;
  --primaryColor: #FF9C1A;
  --secondaryColor: #EC1B09;
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Raleway', sans-serif;
  --font-logo: "Pacifico", "sans-serif";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f5fa;
    --foreground: #0B0909;

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);
}